In [9]:
import pandas as pd
from bs4 import BeautifulSoup
import requests 
from urllib.request import urlopen

In [90]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"
html = urlopen(url).read()

In [96]:
soup = BeautifulSoup(html ,"html.parser")

In [97]:
soup.title

In [108]:
table = soup.find_all('table')
#table[1]
table1 = {'Rank':[],'Country or Area':[],'UN continental region':[],'UN statistical region':[],'Population (1 July 2016)':[],'Population (1 July 2017)':[],'Change':[]}

In [109]:
rows = table[1].find_all("tr")[2:]
#rows[0]

In [117]:
for r in rows:
    td = r.find_all('td')
    table1['Rank'].append(td[0].string)
    table1['Country or Area'].append(td[1].string)
    table1['UN continental region'].append(td[2].string)
    table1['UN statistical region'].append(td[3].string)
    table1['Population (1 July 2016)'].append(td[4].string)
    table1['Population (1 July 2017)'].append(td[5].string)
    table1['Change'].append(td[6].string)

In [122]:
df = pd.DataFrame(table1)
df

,Rank,Country or Area,UN continental region,UN statistical region,Population (1 July 2016),Population (1 July 2017),Change
0,1\n,China[a],Asia,Eastern Asia,"1,403,500,365\n","1,409,517,397\n",+0.4%\n
1,2\n,India,Asia,Southern Asia,"1,324,171,354\n","1,339,180,127\n",+1.1%\n
2,3\n,United States,Americas,Northern America,"322,179,605\n","324,459,463\n",+0.7%\n
3,4\n,Indonesia,Asia,South-eastern Asia,"261,115,456\n","263,991,379\n",+1.1%\n
4,5\n,Brazil,Americas,South America,"207,652,865\n","209,288,278\n",+0.8%\n
5,6\n,Pakistan,Asia,Southern Asia,"193,203,476\n","197,015,955\n",+2.0%\n
6,7\n,Nigeria,Africa,Western Africa,"185,989,640\n","190,886,311\n",+2.6%\n
7,8\n,Bangladesh,Asia,Southern Asia,"162,951,560\n","164,669,751\n",+1.1%\n
8,9\n,Russia,Europe,Eastern Europe,"146,864,513\n","143,989,754\n",−2.0%\n
9,10\n,Mexico,Americas,Central America,"127,540,423\n","129,163,276\n",+1.3%\n
10,11\n,Japan,Asia,Eastern Asia,"127,748,513\n","127,484,450\n",−0.2%\n
11,12\n,Ethiopia,Africa,Eastern Africa,"102,403,196\n","104,957,438\n",+2.5%\n
12,13\n,Philippines,Asia,South-eastern Asia,"103,320,222\n","104,918,090\n",+1.5%\n
13,14\n,Egypt,Africa,Northern Africa,"95,688,681\n","97,553,151\n",+1.9%\n
14,15\n,Vietnam,Asia,South-eastern Asia,"94,569,072\n","95,540,800\n",+1.0%\n
15,16\n,Germany,Europe,Western Europe,"81,914,672\n","82,114,224\n",+0.2%\n
16,17\n,Democratic Republic of the Congo,Africa,Middle Africa,"78,736,153\n","81,339,988\n",+3.3%\n
17,18\n,Iran,Asia,Southern Asia,"80,277,428\n","81,162,788\n",+1.1%\n
18,19\n,Turkey,Asia,Western Asia,"79,512,426\n","80,745,020\n",+1.6%\n
19,20\n,Thailand,Asia,South-eastern Asia,"68,863,514\n","69,037,513\n",+0.3%\n
20,21\n,United Kingdom,Europe,Northern Europe,"65,788,574\n","66,181,585\n",+0.6%\n
21,22\n,France[b],Europe,Western Europe,"64,720,690\n","64,979,548\n",+0.4%\n
22,23\n,Italy,Europe,Southern Europe,"59,429,938\n","59,359,900\n",−0.1%\n
23,24\n,Tanzania[c],Africa,Eastern Africa,"55,572,201\n","57,310,019\n",+3.1%\n
24,25\n,South Africa,Africa,Southern Africa,"56,015,473\n","56,717,156\n",+1.3%\n
25,26\n,Myanmar,Asia,South-eastern Asia,"52,885,223\n","53,370,609\n",+0.9%\n
26,27\n,South Korea,Asia,Eastern Asia,"50,791,919\n","50,982,212\n",+0.4%\n
27,28\n,Colombia,Americas,South America,"48,653,419\n","49,065,615\n",+0.8%\n
28,29\n,Kenya,Africa,Eastern Africa,"48,461,567\n","49,699,862\n",+2.6%\n
29,30\n,Spain[d],Europe,Southern Europe,"46,347,576\n","46,354,321\n",0.0%\n
...,...,...,...,...,...,...,...
436,204,None,Americas,Caribbean,"73,543","73,925",None
437,205,None,Americas,Caribbean,"60,765","61,559",None
438,206,None,Americas,Northern America,"61,666","61,349",None
439,207,None,Americas,Northern America,"56,412","56,480",None
440,208,None,Oceania,Polynesia,"55,599","55,641",None
441,209,None,Americas,Caribbean,"54,821","55,345",None
442,210,None,Oceania,Micronesia,"55,023","55,144",None
443,211,None,Oceania,Micronesia,"53,066","53,127",None
444,212,None,Europe,Northern Europe,"49,117","49,290",None
445,213,None,Americas,Caribbean,"39,537","40,120",None
446,214,None,Europe,Western Europe,"38,499","38,695",None
447,215,None,Europe,Western Europe,"37,666","37,922",None
448,216,None,Americas,Caribbean,"34,900","35,446",None
449,217,None,Europe,Southern Europe,"34,408","34,571",None
450,218,None,Europe,Southern Europe,"33,203","33,400",None
451,219,None,Americas,Caribbean,"30,661","31,196",None
452,220,None,Americas,Caribbean,"25,019","25,398",None
453,221,None,Oceania,Micronesia,"21,503","21,729",None
454,222,None,Oceania,Polynesia,"17,379","17,380",None
455,223,None,Americas,Caribbean,"14,764","14,909",None
456,224,None,Oceania,Polynesia,"11,899","11,773",None
457,225,None,Oceania,Micronesia,"11,347","11,359",None
458,226,None,Oceania,Polynesia,"11,097","11,192",None
459,227,None,Americas,Northern America,"6,305","6,320",None
460,228,None,Americas,Caribbean,"5,152","5,177",None
461,229,None,Africa,Western Africa,"4,035","4,049",None
462,230,None,Americas,South America,"2,910","2,910",None
463,231,None,Oceania,Polynesia,"1,624","1,618",None
464,232,None,Oceania,Polynesia,"1,282","1,300",None
465,233,None,Europe,Southern Europe,801,792,None

In [123]:
df.to_csv("Word_population.csv",index=False)

In [124]:
a = pd.read_csv("Word_population.csv")

In [125]:
a

,Rank,Country or Area,UN continental region,UN statistical region,Population (1 July 2016),Population (1 July 2017),Change
0,1,China[a],Asia,Eastern Asia,"1,403,500,365\r\n","1,409,517,397\r\n",+0.4%\r\n
1,2,India,Asia,Southern Asia,"1,324,171,354\r\n","1,339,180,127\r\n",+1.1%\r\n
2,3,United States,Americas,Northern America,"322,179,605\r\n","324,459,463\r\n",+0.7%\r\n
3,4,Indonesia,Asia,South-eastern Asia,"261,115,456\r\n","263,991,379\r\n",+1.1%\r\n
4,5,Brazil,Americas,South America,"207,652,865\r\n","209,288,278\r\n",+0.8%\r\n
5,6,Pakistan,Asia,Southern Asia,"193,203,476\r\n","197,015,955\r\n",+2.0%\r\n
6,7,Nigeria,Africa,Western Africa,"185,989,640\r\n","190,886,311\r\n",+2.6%\r\n
7,8,Bangladesh,Asia,Southern Asia,"162,951,560\r\n","164,669,751\r\n",+1.1%\r\n
8,9,Russia,Europe,Eastern Europe,"146,864,513\r\n","143,989,754\r\n",−2.0%\r\n
9,10,Mexico,Americas,Central America,"127,540,423\r\n","129,163,276\r\n",+1.3%\r\n
10,11,Japan,Asia,Eastern Asia,"127,748,513\r\n","127,484,450\r\n",−0.2%\r\n
11,12,Ethiopia,Africa,Eastern Africa,"102,403,196\r\n","104,957,438\r\n",+2.5%\r\n
12,13,Philippines,Asia,South-eastern Asia,"103,320,222\r\n","104,918,090\r\n",+1.5%\r\n
13,14,Egypt,Africa,Northern Africa,"95,688,681\r\n","97,553,151\r\n",+1.9%\r\n
14,15,Vietnam,Asia,South-eastern Asia,"94,569,072\r\n","95,540,800\r\n",+1.0%\r\n
15,16,Germany,Europe,Western Europe,"81,914,672\r\n","82,114,224\r\n",+0.2%\r\n
16,17,Democratic Republic of the Congo,Africa,Middle Africa,"78,736,153\r\n","81,339,988\r\n",+3.3%\r\n
17,18,Iran,Asia,Southern Asia,"80,277,428\r\n","81,162,788\r\n",+1.1%\r\n
18,19,Turkey,Asia,Western Asia,"79,512,426\r\n","80,745,020\r\n",+1.6%\r\n
19,20,Thailand,Asia,South-eastern Asia,"68,863,514\r\n","69,037,513\r\n",+0.3%\r\n
20,21,United Kingdom,Europe,Northern Europe,"65,788,574\r\n","66,181,585\r\n",+0.6%\r\n
21,22,France[b],Europe,Western Europe,"64,720,690\r\n","64,979,548\r\n",+0.4%\r\n
22,23,Italy,Europe,Southern Europe,"59,429,938\r\n","59,359,900\r\n",−0.1%\r\n
23,24,Tanzania[c],Africa,Eastern Africa,"55,572,201\r\n","57,310,019\r\n",+3.1%\r\n
24,25,South Africa,Africa,Southern Africa,"56,015,473\r\n","56,717,156\r\n",+1.3%\r\n
25,26,Myanmar,Asia,South-eastern Asia,"52,885,223\r\n","53,370,609\r\n",+0.9%\r\n
26,27,South Korea,Asia,Eastern Asia,"50,791,919\r\n","50,982,212\r\n",+0.4%\r\n
27,28,Colombia,Americas,South America,"48,653,419\r\n","49,065,615\r\n",+0.8%\r\n
28,29,Kenya,Africa,Eastern Africa,"48,461,567\r\n","49,699,862\r\n",+2.6%\r\n
29,30,Spain[d],Europe,Southern Europe,"46,347,576\r\n","46,354,321\r\n",0.0%\r\n
...,...,...,...,...,...,...,...
436,204,NaN,Americas,Caribbean,"73,543\r\n","73,925\r\n",NaN
437,205,NaN,Americas,Caribbean,"60,765\r\n","61,559\r\n",NaN
438,206,NaN,Americas,Northern America,"61,666\r\n","61,349\r\n",NaN
439,207,NaN,Americas,Northern America,"56,412\r\n","56,480\r\n",NaN
440,208,NaN,Oceania,Polynesia,"55,599\r\n","55,641\r\n",NaN
441,209,NaN,Americas,Caribbean,"54,821\r\n","55,345\r\n",NaN
442,210,NaN,Oceania,Micronesia,"55,023\r\n","55,144\r\n",NaN
443,211,NaN,Oceania,Micronesia,"53,066\r\n","53,127\r\n",NaN
444,212,NaN,Europe,Northern Europe,"49,117\r\n","49,290\r\n",NaN
445,213,NaN,Americas,Caribbean,"39,537\r\n","40,120\r\n",NaN
446,214,NaN,Europe,Western Europe,"38,499\r\n","38,695\r\n",NaN
447,215,NaN,Europe,Western Europe,"37,666\r\n","37,922\r\n",NaN
448,216,NaN,Americas,Caribbean,"34,900\r\n","35,446\r\n",NaN
449,217,NaN,Europe,Southern Europe,"34,408\r\n","34,571\r\n",NaN
450,218,NaN,Europe,Southern Europe,"33,203\r\n","33,400\r\n",NaN
451,219,NaN,Americas,Caribbean,"30,661\r\n","31,196\r\n",NaN
452,220,NaN,Americas,Caribbean,"25,019\r\n","25,398\r\n",NaN
453,221,NaN,Oceania,Micronesia,"21,503\r\n","21,729\r\n",NaN
454,222,NaN,Oceania,Polynesia,"17,379\r\n","17,380\r\n",NaN
455,223,NaN,Americas,Caribbean,"14,764\r\n","14,909\r\n",NaN
456,224,NaN,Oceania,Polynesia,"11,899\r\n","11,773\r\n",NaN
457,225,NaN,Oceania,Micronesia,"11,347\r\n","11,359\r\n",NaN
458,226,NaN,Oceania,Polynesia,"11,097\r\n","11,192\r\n",NaN
459,227,NaN,Americas,Northern America,"6,305\r\n","6,320\r\n",NaN
460,228,NaN,Americas,Caribbean,"5,152\r\n","5,177\r\n",NaN
461,229,NaN,Africa,Western Africa,"4,035\r\n","4,049\r\n",NaN
462,230,NaN,Americas,South America,"2,910\r\n","2,910\r\n",NaN
463,231,NaN,Oceania,Polynesia,"1,624\r\n","1,618\r\n",NaN
464,232,NaN,Oceania,Polynesia,"1,282\r\n","1,300\r\n",NaN
465,233,NaN,Europe,Southern Europe,801\r\n,792\r\n,NaN